/* Reset */

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: normal;
  box-sizing: border-box;
  text-wrap: pretty;
  overflow-wrap: break-word;
}
/* Start */

:root {
  --White: #fff0fc;
  --Wenge: #332e2d;
  --Light: #ffe9fa;
  --Thistle: #ddcad9;
  --Rose-Ebony: #503d3f;
  --Pink-Lavender: #d1b1cb;
  --Lighter-Guy: #807271;
  --Code-BG: rgba(128, 114, 113, 0.28);
}

html,
body {
  font-family: outfit, sans-serif;
  background: var(--Wenge);
}

#navbar header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 101.178%;
  padding: 2rem;
  color: var(--White);
}

#main-doc header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--Light);
}

p,
li {
  color: var(--Thistle);
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 38.875rem;
  margin-bottom: 1rem;
}

li {
  margin-left: 1.5rem;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 20.125rem;
  height: 100%;
  border-right: 3px solid var(--Thistle);
  background: var(--Rose-Ebony);
  overflow: auto;
}

#main-doc {
  margin-left: 21rem;
  padding: 4rem;
  max-width: 100%;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--White);
  display: block;
  border: 3px solid var(--Thistle);
  border-left: none;
  border-right: none;
  padding: 1rem;
  border-bottom: solid 1px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--Wenge);
  transition: 0.1s ease;
}
.nav-link:active {
  background-color: var(--Thistle);
  color: var(--Rose-Ebony);
  transition: 0.1s ease;
}

.divider {
  border-bottom: 2px solid var(--Pink-Lavender);
  max-width: 38.875rem;
  margin: 2.75rem 0;
}
.code {
  color: #fff;
  font-family: "Fira Code";
  font-size: 0.9375rem;
  font-weight: 400;
  border: 1px solid var(--Lighter-Guy);
  background: var(--Code-BG);
  max-width: 61.5rem;
  padding: 1.62rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  #navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    border-right: none;
    border-bottom: 3px solid var(--Thistle);
    z-index: 9999;
  }

  #main-doc {
    margin-left: 0;
    margin-top: 11rem;
    padding: 2rem;
}